@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
@layer base {
  body {
    font-family: 'Familjen Grotesk', sans-serif;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #1e2e31;

    --primary: #1c9bef;
    --primary-foreground: #ffffff;

    --secondary: #11161a;
    --secondary-foreground: #ffffff;

    --muted: #dcdaf5;
    --muted-foreground: #5c6b5c7b;

    --accent: #99cdf8;
    --accent-foreground: #ffffff;

    --destructive: #ed0d4c;
    --destructive-foreground: #ffffff;

    --border: #eff3f4;
    --input: #eff3f4;
    --ring: #1c9bef;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #e6e6e6;

    --card: #000000;
    --card-foreground: #e6e6e6;

    --popover: #000000;
    --popover-foreground: #e6e6e6;

    --primary: #4999e9;
    --primary-foreground: #ffffff;

    --secondary: #e6e6e6;
    --secondary-foreground: #000000;

    --muted: #5c6b5c7b;
    --muted-foreground: #dcdaf5;

    --accent: #124e78;
    --accent-foreground: #7f8080;

    --destructive: #993e4d;
    --destructive-foreground: #e6e6e6;

    --border: #303336;
    --input: #000000;
    --ring: #4999e9;

    --radius: 0.5rem;
  }
}
